{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Skip if running on Arch Linux (pacman should be enough)
{{ if eq .chezmoi.osRelease.id "arch" -}}
echo "Arch Linux detected via os-release. Skipping Homebrew installation."
exit 0
{{- end }}

# Check if brew is already installed
if command -v brew >/dev/null 2>&1; then
  echo "Homebrew is already installed."
  exit 0
fi

echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Adding brew to .bashrc"
echo >> ~/.bashrc
echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.bashrc
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

echo "Installing brew dependencies..."
sudo apt-get update && sudo apt-get install -y build-essential
/home/linuxbrew/.linuxbrew/bin/brew install gcc
{{ end -}}
