{{ if eq .chezmoi.os "windows" -}}

# Helper to install Scoop package
function Install-ScoopPackage($id, $cmd) {
    if ($null -eq $id) { return }
    if ($null -eq $cmd) { $cmd = $id }
    
    Write-Host "==> Checking Scoop package: $id..." -ForegroundColor Yellow
    if ($null -eq (Get-Command $cmd -ErrorAction SilentlyContinue)) {
        Write-Host "Installing $id..." -ForegroundColor Yellow
        scoop install "$id"
        Write-Host "Done." -ForegroundColor Green
    } else {
        Write-Host "$id is already installed." -ForegroundColor Magenta
    }
}

# Iterate through all tools
{{ range $name, $tool := .tools -}}
    {{ $id := "" }}{{ $cmd := "" }}
    {{ if eq (kindOf $tool) "string" }}
        {{ $id = $tool }}{{ $cmd = $tool }}
    {{ else if eq (kindOf $tool) "map" }}
        {{ if hasKey $tool "scoop" }}
            {{ $s := index $tool "scoop" }}
            {{ if eq (kindOf $s) "map" }}
                {{ $id = index $s "id" }}{{ $cmd = index $s "cmd" }}
            {{ else }}
                {{ $id = $s }}{{ $cmd = $s }}
            {{ end }}
        {{ else if hasKey $tool "all" }}
            {{ $id = index $tool "all" }}{{ $cmd = index $tool "all" }}
        {{ end }}
    {{ end }}

    Install-ScoopPackage "{{ $id }}" "{{ $cmd }}"
{{ end -}}

{{ end -}}
