{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Skip if running on Arch Linux (pacman should be enough)
{{ if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "endeavouros") -}}
echo "Arch derivative detected ({{ .chezmoi.osRelease.id }}). Skipping Homebrew installation."
exit 0
{{- end }}

# Check if brew is already installed
if command -v brew >/dev/null 2>&1; then
  echo "Homebrew is already installed."
  exit 0
fi

echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Adding brew to .bashrc"
echo >> ~/.bashrc
echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.bashrc
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

echo "Installing brew dependencies..."
sudo apt-get update && sudo apt-get install -y build-essential

# Re-eval shellenv to ensure brew is in path for the current shell session
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew install gcc
{{ end -}}
