
{{ if eq .chezmoi.os "windows" -}}
if ((which fd) | is-empty) {
	print "installing fd"
	winget install sharkdp.fd
} else {
	print "updating fd"
	try { winget update sharkdp.fd } catch { exit 0 }
	exit 0
}
{{ end -}}
